{% extends "global/header.html"%}
{% block title %}La page d'index{% endblock %}

{% block content %}  
<div class="Jumbotron">
	<h1>This is the index page</h1>
	{% if user.is_authenticated %}

    {% if user.is_superuser%}

    	<h2>your name is: {{ user.username }}</h2>
      <h2>you are the master here</h2>
    {% else %}
        <h2>your name is: {{ user.username }}</h2>
        <h2>you are the remaining here</h2>      
  {% endif %}
  {% else %}
    <h2>you are not logged in</h2>
  {% endif %} 
   
</div>
{% endblock %}